@font-face {
    font-family: "Norse";
    src: url("./font/Norse-Bold.otf");
    font-weight: bold;
}


body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

a {
    text-decoration: none;
    color: rgb(198, 11, 255);
}



#leftSide {
    flex: 1.2;
    background-image: url("./Photos/valentin-beauvais-yVUQlyRlJSw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#rightSide {
    flex: 1.8;
    display: flex;
    flex-direction: column;
}



.title {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 0;
    margin-top: 15rem;
}

.logo {
    width: 5rem;
}

h1 {
    font-family: "Norse", sans-serif;
    font-size: 90px;
    margin: 0;
    line-height: 1;
}

.credits {
    font-size: 0.8rem;
    opacity: 0.8;
    margin-bottom: 10px;
}



.intro {
    background-color: rgb(248, 248, 248);
    padding: 10rem 40px 20px;
    margin: 0;
}




.form-card {
    background-color: white;
    padding: 30px 40px;
    margin-top: 0;
    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.237);
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    gap: 40px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

h3 {
    color: rgb(125, 22, 156);
    font-size: x-large;
}

button {
    margin-top: 40px;
    margin-left: 40px;
    background-color: rgb(122, 23, 152);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 18px;
    font-size: 1.3em;
}

button:hover {
    background-color: rgb(198, 11, 255);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.312);
}



.logIn {
    padding-left: 40px;
    color: rgb(147, 147, 147);
}

label {
    color: rgb(139, 139, 139);
    font-weight: bold;
}

input {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 4px;
    padding: 3px;
}

input:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 2px 2px 1px rgba(48, 85, 172, 0.4);
}

input:invalid {
    border-color: #dc2626;
}

::placeholder {
    color: rgb(187, 187, 187);
}

input {
    font-size: 1.2em;
}